# Title

# Introduction

# Preliminary exploratory data analysis

## Read Data

In [3]:
library(tidyverse)

In [7]:
tennis_data <- read_csv(url("https://raw.githubusercontent.com/JeffSackmann/tennis_atp/master/atp_matches_2023.csv"))
head(tennis_data)

Rows: 2986 Columns: 49
── Column specification ────────────────────────────────────────────────────────
Delimiter: ","
chr (14): tourney_id, tourney_name, surface, tourney_level, winner_entry, wi...
dbl (35): draw_size, tourney_date, match_num, winner_id, winner_seed, winner...

ℹ Use `spec()` to retrieve the full column specification for this data.
ℹ Specify the column types or set `show_col_types = FALSE` to quiet this message.

  tourney_id tourney_name surface draw_size tourney_level tourney_date
1 2023-9900  United Cup   Hard    18        A             20230102
2 2023-9900  United Cup   Hard    18        A             20230102
3 2023-9900  United Cup   Hard    18        A             20230102
4 2023-9900  United Cup   Hard    18        A             20230102
5 2023-9900  United Cup   Hard    18        A             20230102
6 2023-9900  United Cup   Hard    18        A             20230102
  match_num winner_id winner_seed winner_entry ⋯ l_1stIn l_1stWon l_2ndWon
1 300       126203     3          NA           ⋯ 62      47       15
2 299       126207    NA          NA           ⋯ 12       8        3
3 296       126203     3          NA           ⋯ 62      51        7
4 295       126207    NA          NA           ⋯ 41      26       12
5 292       126774     1          NA           ⋯ 58      48       18
6 291       207518    NA          NA           ⋯ 26      15        5
  l_SvGms l_bpSaved l_bpFaced winner_rank winner_rank_points loser_rank
1 12      9         9          9          3355                16
2  4      1         3         19          2000                23
3 12      2         2          9          3355                10
4  9      6         9         19          2000               245
5 16      1         2          4          5550                16
6  7      4         9         23          1865               803
  loser_rank_points
1 2375
2 1865
3 2905
4  220
5 2375
6   23

In [17]:
temp <- tempfile()
download_file <- download.file("https://archive.ics.uci.edu/static/public/186/wine+quality.zip", temp)
data <- read.csv2(unz(temp, "winequality-red.csv"))

unlink(temp)

In [19]:
head(data)

  fixed.acidity volatile.acidity citric.acid residual.sugar chlorides
1 7.4           0.7              0           1.9            0.076
2 7.8           0.88             0           2.6            0.098
3 7.8           0.76             0.04        2.3            0.092
4 11.2          0.28             0.56        1.9            0.075
5 7.4           0.7              0           1.9            0.076
6 7.4           0.66             0           1.8            0.075
  free.sulfur.dioxide total.sulfur.dioxide density pH   sulphates alcohol
1 11                  34                   0.9978  3.51 0.56      9.4
2 25                  67                   0.9968  3.2  0.68      9.8
3 15                  54                   0.997   3.26 0.65      9.8
4 17                  60                   0.998   3.16 0.58      9.8
5 11                  34                   0.9978  3.51 0.56      9.4
6 13                  40                   0.9978  3.51 0.56      9.4
  quality
1 5
2 5
3 5
4 6
5 5
6 5

# Methods

# Expected outcomes and significance