In [1]:
library(tidyverse)

── Attaching core tidyverse packages ──────────────────────── tidyverse 2.0.0 ──
✔ dplyr     1.1.3     ✔ readr     2.1.4
✔ forcats   1.0.0     ✔ stringr   1.5.0
✔ ggplot2   3.4.4     ✔ tibble    3.2.1
✔ lubridate 1.9.3     ✔ tidyr     1.3.0
✔ purrr     1.0.2
── Conflicts ────────────────────────────────────────── tidyverse_conflicts() ──
✖ dplyr::filter() masks stats::filter()
✖ dplyr::lag()    masks stats::lag()
ℹ Use the conflicted package (<http://conflicted.r-lib.org/>) to force all conflicts to become errors

# Title

# Introduction

# Preliminary exploratory data analysis

1. Read Data

In [3]:
tennis_data <- read_csv(url("https://raw.githubusercontent.com/JeffSackmann/tennis_atp/master/atp_matches_2023.csv"))
tail(tennis_data)

Rows: 2986 Columns: 49
── Column specification ────────────────────────────────────────────────────────
Delimiter: ","
chr (14): tourney_id, tourney_name, surface, tourney_level, winner_entry, wi...
dbl (35): draw_size, tourney_date, match_num, winner_id, winner_seed, winner...

ℹ Use `spec()` to retrieve the full column specification for this data.
ℹ Specify the column types or set `show_col_types = FALSE` to quiet this message.

  tourney_id                       tourney_name                 surface
1 2023-M-DC-2023-WG2-PO-RSA-LUX-01 Davis Cup WG2 PO: RSA vs LUX NA
2 2023-M-DC-2023-WG2-PO-RSA-LUX-01 Davis Cup WG2 PO: RSA vs LUX NA
3 2023-M-DC-2023-WG2-PO-TUN-CYP-01 Davis Cup WG2 PO: TUN vs CYP NA
4 2023-M-DC-2023-WG2-PO-TUN-CYP-01 Davis Cup WG2 PO: TUN vs CYP NA
5 2023-M-DC-2023-WG2-PO-TUN-CYP-01 Davis Cup WG2 PO: TUN vs CYP NA
6 2023-M-DC-2023-WG2-PO-TUN-CYP-01 Davis Cup WG2 PO: TUN vs CYP NA
  draw_size tourney_level tourney_date match_num winner_id winner_seed
1 4         D             20230204     4         200270    NA
2 4         D             20230204     5         202335    NA
3 4         D             20230203     1         117365    NA
4 4         D             20230203     2         121411    NA
5 4         D             20230203     4         144949    NA
6 4         D             20230203     5         121411    NA
  winner_entry ⋯ l_1stIn l_1stWon l_2ndWon l_SvGms l_bpSaved l_bpFaced
1 NA           ⋯ NA      NA       NA       NA      NA        NA
2 NA           ⋯ NA      NA       NA       NA      NA        NA
3 NA           ⋯ NA      NA       NA       NA      NA        NA
4 NA           ⋯ NA      NA       NA       NA      NA        NA
5 NA           ⋯ NA      NA       NA       NA      NA        NA
6 NA           ⋯ NA      NA       NA       NA      NA        NA
  winner_rank winner_rank_points loser_rank loser_rank_points
1 608          48                 516        67
2  NA          NA                1717         1
3 990          11                 279       190
4 364         131                 894        15
5 894          15                 285       184
6 364         131                 990        11

In [22]:
temp <- tempfile()
download_file <- download.file("https://archive.ics.uci.edu/static/public/186/wine+quality.zip", temp)
red_wine <- read.csv2(unz(temp, "winequality-red.csv"))
white_wine <- read.csv2(unz(temp, "winequality-white.csv"))
unlink(temp)

In [23]:
head(red_wine)
head(white_wine)

  fixed.acidity volatile.acidity citric.acid residual.sugar chlorides
1 7.4           0.7              0           1.9            0.076
2 7.8           0.88             0           2.6            0.098
3 7.8           0.76             0.04        2.3            0.092
4 11.2          0.28             0.56        1.9            0.075
5 7.4           0.7              0           1.9            0.076
6 7.4           0.66             0           1.8            0.075
  free.sulfur.dioxide total.sulfur.dioxide density pH   sulphates alcohol
1 11                  34                   0.9978  3.51 0.56      9.4
2 25                  67                   0.9968  3.2  0.68      9.8
3 15                  54                   0.997   3.26 0.65      9.8
4 17                  60                   0.998   3.16 0.58      9.8
5 11                  34                   0.9978  3.51 0.56      9.4
6 13                  40                   0.9978  3.51 0.56      9.4
  quality
1 5
2 5
3 5
4 6
5 5
6 5

  fixed.acidity volatile.acidity citric.acid residual.sugar chlorides
1 7             0.27             0.36        20.7           0.045
2 6.3           0.3              0.34        1.6            0.049
3 8.1           0.28             0.4         6.9            0.05
4 7.2           0.23             0.32        8.5            0.058
5 7.2           0.23             0.32        8.5            0.058
6 8.1           0.28             0.4         6.9            0.05
  free.sulfur.dioxide total.sulfur.dioxide density pH   sulphates alcohol
1 45                  170                  1.001   3    0.45      8.8
2 14                  132                  0.994   3.3  0.49      9.5
3 30                  97                   0.9951  3.26 0.44      10.1
4 47                  186                  0.9956  3.19 0.4       9.9
5 47                  186                  0.9956  3.19 0.4       9.9
6 30                  97                   0.9951  3.26 0.44      10.1
  quality
1 6
2 6
3 6
4 6
5 6
6 6

# Methods

# Expected outcomes and significance